{% extends 'nav.html' %}

{% block content %}

<div class="container" style="min-height: 81.5vh;">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWTonRny1uC__pzZlveDYSiRUHRuXkhqOdkKVeSgaETWxlcaZF0buTZ5oxpIpxjSt371eg1_unL9icZIp9aV8h5hyFe9ecHfUpk9S3ELEcYBtvUsbX7uSo4QhTAZr4G5ZfjehEW2Xhu08PxwwptA67w=s636-no?authuser=0"
                style="width: 90%;" alt="">
        </div>
        <div class="col-md-6">
            <div class="pb-3" style="font-size:20px;">Enter a URL so that we can check it for you!</div>
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{% if msg.tags == 'error'%}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
                {% if msg == "Empty Fields" %}
                {{ msg }}
                {% else %}
                <div>
                    <div>
                        {{ msg }}
                    </div>
                    {% if url %}
                    <div class="open-link">
                        <a target="_blank" style="color: #155724;" href="{{ url }}">
                            Open Link <i class="fa-solid fa-up-right-from-square"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" area-label="Close">
                    <span area-hidden-true>&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <form action="{% url 'generate' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="original" class="form-control" placeholder="Original Url">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-success-1 px-4" value="Check">
                </div>
            </form>
        </div>
    </div>
</div>


<style>
      .body{
    min-height: 100vh;
  }
    .customcontainer {
        min-width: 100%;
        border-radius: 5px;
        max-width: 100%;
        height: 100%;
    }
    .btn-outline-success-1 {
        color: #BB86FC;
        border-color: #BB86FC;
    }

    .btn-outline-success-1:hover {
        background-color: #BB86FC;
        border-color: #BB86FC;
        color: white;
    }
    .open-link a:hover{
        color: #155724;
    }
</style>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</body>

</html>

{% endblock %}