{% extends 'nav.html' %}
{% load static %}
{% block content %}
{% if error %}
<div class="container" style="min-height: 82.4vh;">
    <div class="row">
        <div class="col-12 text-center">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLXNQyh-F9RlNd4tNOg8b6ArSLKMstLuj6MrgZds834v43YeucwrmLg_WGmF75U_NqgUIY9rF2aC7WOyXI32EaTAPHT_-hDr5SnoFH11TLDHExe8kn6BM4ZHktTMldDOsn0WEdrrueBukiTgDasoAKto=w866-h575-no?authuser=0"
                class="no-page" alt="">
            <p>Sorry!<br />The url you are looking for doesn't exist!</p>
            <a href="/" class="btn btn-outline-success-1 py-1">Go to home</a>
        </div>
    </div>
</div>
{% else %}
<h1 class="text-center" style="min-height: 81.4vh;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-left">
                <div style="font-size: 40px;">
                    <span style="color: #7F39FB;">Catch</span><span style="color: #BB86FC;">Phish</span>
                </div>
                <div style="font-size: 20px; word-spacing: 3px;">
                    Avoid being the 'fish' for the Phishers!
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLU32OF1RGwc6fMVaaepkrLdA1wMwNr3puWq_5WHlYS_7fMrrlTrYTC3_yoxTyAB4e1_WqoCUWRazXTifIJ2pj6msRvm5Zd3ZmmqdIw0QaA8X1hvnEI6Y7pozr6BPnswc4mfp8TPNGCyaPW0zxvAGAa8=s636-no?authuser=0"
                    style="width: 90%;" alt="">
            </div>
        </div>

    </div>
</h1>
{% endif %}
<style>
    .btn-outline-success-1 {
        color: #BB86FC;
        border-color: #BB86FC;
    }

    .btn-outline-success-1:hover {
        background-color: #BB86FC;
        border-color: #BB86FC;
        color: white;
    }

    .no-page {
        height: 400px;
    }

    @media screen and (max-width:800px) {
        .no-page {
            height: 200px;
        }
    }
</style>

</html>

{% endblock %}